<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDataManagementService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:1600/DataManagementService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataManagementService"
          contract="DataManagementService.IDataManagementService" name="BasicHttpBinding_IDataManagementService" />
    </client>
  </system.serviceModel>
</configuration>