<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TableNameToLoadData" value="CustomerData" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDataManagementService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DataManagementService/DataManagementService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataManagementService"
                contract="DataManagementService.IDataManagementService" name="BasicHttpBinding_IDataManagementService" />
        </client>
    </system.serviceModel>
</configuration>