USE master

IF EXISTS(select * from sys.databases where name='BankApplicationDemo')
BEGIN
alter database BankApplicationDemo set single_user with rollback immediate
drop database BankApplicationDemo
PRINT 'Dropped database successfully'
END

GO

--CREATE DATABASE
CREATE DATABASE BankApplicationDemo
GO



USE BankApplicationDemo
GO
/****** Object:  Table [dbo].[AirlineCustomerAccountData]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AirlineCustomerAccountData](
	[BookingID] [int] NULL,
	[TravellerID] [int] NULL,
	[Airline] [varchar](max) NULL,
	[FlightNo] [varchar](max) NULL,
	[DateOfBooking] [datetime] NULL,
	[DateOfJourney] [datetime] NULL,
	[Departure] [varchar](max) NULL,
	[Arrival] [varchar](max) NULL,
	[Duration] [varchar](max) NULL,
	[Price] [int] NULL,
	[PaymentMode] [varchar](max) NULL,
	[StatusIndicator] [varchar](max) NULL,
	[RewardsPoint] [int] NULL,
	[Miles] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AirlineCustomerData]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AirlineCustomerData](
	[TravellerID] [int] NULL,
	[Name] [varchar](max) NULL,
	[DOB] [datetime] NULL,
	[Mobile] [varchar](max) NULL,
	[PassportNo] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[ZipCode] [int] NULL,
	[EmailAddress] [varchar](max) NULL,
	[FrequentFlyer] [varchar](max) NULL,
	[Gender] [varchar](max) NULL,
	[ReceiveEmail] [bit] NULL,
	[RecommendOffer] [bit] NULL,
	[LastTravelledDate] [datetime] NULL,
	[Preferences] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ConfigurationDetails]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConfigurationDetails](
	[AppName] [varchar](max) NULL,
	[ClassName] [varchar](max) NULL,
	[PropertyName] [varchar](max) NULL,
	[PropertyValue] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerAccountData]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerAccountData](
	[TranID] [varchar](max) NULL,
	[CustID] [int] NULL,
	[ValueDate] [datetime] NULL,
	[TransactionDate] [datetime] NULL,
	[TransactionSource] [varchar](max) NULL,
	[Description] [varchar](max) NULL,
	[TransactionType] [varchar](max) NULL,
	[Amount] [decimal](18, 2) NULL,
	[AvailableBalance] [decimal](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CustomerData]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CustomerData](
	[CustID] [int] NULL,
	[AccountNumber] [int] NULL,
	[CustType] [varchar](max) NULL,
	[Name] [varchar](max) NULL,
	[DOB] [datetime] NULL,
	[Nationality] [varchar](max) NULL,
	[ApplicantMaritalStatus] [varchar](max) NULL,
	[Mobile] [varchar](max) NULL,
	[PassportNo] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[ZipCode] [int] NULL,
	[EmailAddress] [varchar](max) NULL,
	[HNW] [varchar](max) NULL,
	[RecommendOffer] [bit] NULL,
	[ReceiveEmail] [bit] NULL,
	[Preferences] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LK_Offers]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LK_Offers](
	[Offer_ID] [int] IDENTITY(1,1) NOT NULL,
	[SearchTags] [varchar](200) NULL,
	[OfferType] [varchar](200) NULL,
	[Country] [varchar](100) NULL,
	[Offer_Details] [xml] NULL,
 CONSTRAINT [PK_LK_Offers] PRIMARY KEY CLUSTERED 
(
	[Offer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TelecomCustomerAccountData]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TelecomCustomerAccountData](
	[CustID] [int] NULL,
	[AcctNo] [int] NULL,
	[BillingDate] [datetime] NULL,
	[BillType] [varchar](max) NULL,
	[BillDescription] [varchar](max) NULL,
	[Duration] [varchar](max) NULL,
	[Volume] [int] NULL,
	[Pulse] [decimal](18, 2) NULL,
	[Charges] [decimal](18, 2) NULL,
	[Discount] [decimal](18, 2) NULL,
	[NetCharges] [decimal](18, 2) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TelecomCustomerData]    Script Date: 9/24/2014 12:13:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TelecomCustomerData](
	[CustID] [int] NULL,
	[AccountNumber] [int] NULL,
	[MobileNoAllocated] [varchar](max) NULL,
	[RelationShipNo] [int] NULL,
	[SIMNumber] [int] NULL,
	[IMSINumber] [varchar](max) NULL,
	[BillPlan] [varchar](max) NULL,
	[Name] [varchar](max) NULL,
	[DOB] [datetime] NULL,
	[UIDNo] [varchar](max) NULL,
	[Nationality] [varchar](max) NULL,
	[PassportNo] [varchar](max) NULL,
	[Address] [varchar](max) NULL,
	[Landmark] [varchar](max) NULL,
	[Circle] [varchar](max) NULL,
	[City] [varchar](max) NULL,
	[Country] [varchar](max) NULL,
	[ZipCode] [int] NULL,
	[ContactNumber] [varchar](max) NULL,
	[EmailAddress] [varchar](max) NULL,
	[Usage] [varchar](max) NULL,
	[ReceiveEmail] [bit] NULL,
	[RecommendOffer] [bit] NULL,
	[Preferences] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AirlineCustomerAccountData] ([BookingID], [TravellerID], [Airline], [FlightNo], [DateOfBooking], [DateOfJourney], [Departure], [Arrival], [Duration], [Price], [PaymentMode], [StatusIndicator], [RewardsPoint], [Miles]) VALUES (8592026, 16306, N'Indigo', N'6E-414', CAST(0x00009FD000000000 AS DateTime), CAST(0x00009FD600000000 AS DateTime), N'Pune(PNQ)', N'Hyderabad(HYD)', N'2h5m', 13430, N'CreditCard', N'Booked', 100, 550)
INSERT [dbo].[AirlineCustomerAccountData] ([BookingID], [TravellerID], [Airline], [FlightNo], [DateOfBooking], [DateOfJourney], [Departure], [Arrival], [Duration], [Price], [PaymentMode], [StatusIndicator], [RewardsPoint], [Miles]) VALUES (8592027, 155015, N'Indigo', N'6E-426', CAST(0x00009FD100000000 AS DateTime), CAST(0x00009FD100000000 AS DateTime), N'Banglore(BLR)', N'Mumbai(BOM)', N'1h0m', 15094, N'DebitCard', N'Cancelled', 101, 512)
INSERT [dbo].[AirlineCustomerAccountData] ([BookingID], [TravellerID], [Airline], [FlightNo], [DateOfBooking], [DateOfJourney], [Departure], [Arrival], [Duration], [Price], [PaymentMode], [StatusIndicator], [RewardsPoint], [Miles]) VALUES (8592028, 2957, N'Go Air', N'G8-391', CAST(0x00009FD200000000 AS DateTime), CAST(0x00009FD300000000 AS DateTime), N'Delhi(DEL)', N'Amritsar(ATQ)', N'1h55m', 12480, N'NetBanking', N'Booked', 102, 546)

GO 

INSERT [dbo].[ConfigurationDetails] ([AppName], [ClassName], [PropertyName], [PropertyValue]) VALUES (N'BankingApp', N'EmailProperties', N'FromEmailId', N'sameer_j@infosys.com')
INSERT [dbo].[ConfigurationDetails] ([AppName], [ClassName], [PropertyName], [PropertyValue]) VALUES (N'BankingApp', N'EmailProperties', N'CCEmailId', N'sameer_j@infosys.com')
INSERT [dbo].[ConfigurationDetails] ([AppName], [ClassName], [PropertyName], [PropertyValue]) VALUES (N'TelecomApp', N'EmailProperties', N'EmailMessage', N'Dear valued customer, <br/> Thanks a lot for your continued patronage for our services. We appreciate your continued support and wish you a happy experience with our telecom services.<br/> <br> We are also pleased to offer special deals only for you. Please feel free to reach to your service manager for more details or should you need any assistance!</br> <br></br><br>Please find attached your telephone statement for the reporting period')
GO

INSERT [dbo].[CustomerAccountData] ([TranID], [CustID], [ValueDate], [TransactionDate], [TransactionSource], [Description], [TransactionType], [Amount], [AvailableBalance]) VALUES (N'SB6793507', 16306, CAST(0x00009F8F00000000 AS DateTime), CAST(0x00009F8F00000000 AS DateTime), N'BCTT', N'CMSLocalCheckCollection', N'DR', CAST(420.00 AS Decimal(18, 2)), CAST(257000.71 AS Decimal(18, 2)))
INSERT [dbo].[CustomerAccountData] ([TranID], [CustID], [ValueDate], [TransactionDate], [TransactionSource], [Description], [TransactionType], [Amount], [AvailableBalance]) VALUES (N'SB6701423', 16306, CAST(0x00009F9100000000 AS DateTime), CAST(0x00009F9100000000 AS DateTime), N'IPS', N'VPS/Central(/20121027175126/0', N'DR', CAST(8000.00 AS Decimal(18, 2)), CAST(249000.71 AS Decimal(18, 2)))
INSERT [dbo].[CustomerAccountData] ([TranID], [CustID], [ValueDate], [TransactionDate], [TransactionSource], [Description], [TransactionType], [Amount], [AvailableBalance]) VALUES (N'SB7384334', 16306, CAST(0x00009F9100000000 AS DateTime), CAST(0x00009F9100000000 AS DateTime), N'CMS', N'CMSLocalCheckCollection', N'DR', CAST(2239.28 AS Decimal(18, 2)), CAST(246761.43 AS Decimal(18, 2)))

GO

INSERT [dbo].[CustomerData] ([CustID], [AccountNumber], [CustType], [Name], [DOB], [Nationality], [ApplicantMaritalStatus], [Mobile], [PassportNo], [Address], [Country], [ZipCode], [EmailAddress], [HNW], [RecommendOffer], [ReceiveEmail], [Preferences]) VALUES (16306, 223012332, N'Public', N'Sameer Govind Joshi', CAST(0x0000762300000000 AS DateTime), N'Indian', N'Married', N'+91 7507773834', N'F9789920', N' 30 Laxminagar Paota B Raod, Jodhpur, Rajasthan

', N'INDIA', 342001, N'Sameer_J@infosys.com', N'YES', 1, 1, N'Card Offers')
INSERT [dbo].[CustomerData] ([CustID], [AccountNumber], [CustType], [Name], [DOB], [Nationality], [ApplicantMaritalStatus], [Mobile], [PassportNo], [Address], [Country], [ZipCode], [EmailAddress], [HNW], [RecommendOffer], [ReceiveEmail], [Preferences]) VALUES (155015, 223012333, N'Public', N'Ashish Sharma33', CAST(0x000073D600000000 AS DateTime), N'Indian', N'Married', N'91 9538892237', N'F9789904', N'Hinjewadi chowk, pune', N'INDIA', 411057, N'Ashish_Sharma33@infosys.com', N'YES', 1, 1, N'Card Offers')
INSERT [dbo].[CustomerData] ([CustID], [AccountNumber], [CustType], [Name], [DOB], [Nationality], [ApplicantMaritalStatus], [Mobile], [PassportNo], [Address], [Country], [ZipCode], [EmailAddress], [HNW], [RecommendOffer], [ReceiveEmail], [Preferences]) VALUES (2957, 223012334, N'Public', N'Prashant Pawar, Infosys ', CAST(0x0000741800000000 AS DateTime), N'Indian', N'Married', N'91 9881404657', N'F9789923', N'F-803 Greenlands,
Konkane Chowk,
Pimple saudagar,
Pune.
Maharastra.

', N'INDIA', 411057, N'Prashant_Pawar@infosys.com', N'YES', 1, 1, N'Card Offers')


--SET IDENTITY_INSERT [dbo].[LK_Offers] ON 

--INSERT [dbo].[LK_Offers] ([Offer_ID], [SearchTags], [OfferType], [Country], [Offer_Details]) VALUES (1, N'travelAccessories', N'External', N'INDIA', N'<ResponseDeal><id>1000</id><deal_url>http://www.ebay.in/itm/Take-Off-Black-Trolley-Travel-Bag-Expandable-luggage-compartment-/181234033115?pt=IN_Bags_Luggage</deal_url><title>Take Off Black Trolley Travel Bag (Expandable luggage compartment)</title><sku>51141</sku><small_image_url /><medium_image_url /><large_image_url /><shipping_method>print</shipping_method><vendor_name>escalationstravelware</vendor_name><vendor_listing_url>http://myworld.ebay.in/escalationstravelware/?_trksid=p4340.l2559</vendor_listing_url><vendor_website_url /><vendor_logo>http://i.ebayimg.com/00/s/MTYwMFg4ODg=/$(KGrHqN,!ncFH1w5YKDkBSF)YmD5Zw~~60_35.JPG</vendor_logo><vendor_description>&lt;div&gt;&lt;div&gt;Give yourself the gift of clean air and better health! This Mini Car Purifier plugs right into your cars charger port. &amp;#160;The Purifier will light up after plugged in and within 25 seconds will start to remove toxins like smoke, dust, and various other allergens. The way this is done is through a concentration of negative ions that the device releases once you gently turn the top. It will improve your overall health by removing particles that could lead to cold, flu, and etc. &amp;#160;The other advantage is it works as an air freshener as well! &amp;#160;Using the complimentary dropper, just add a few drops of any incense oil or fragrance perfume (NOT INCLUDED) in the small holes at the top and wallah, a nice fresh scented car.&lt;/div&gt;&lt;div&gt;&amp;#160;&lt;/div&gt;&lt;div&gt;AlignUrLife is an Online Retail Company based in San Diego, California. &amp;#160;They specialize in bringing online customers a variety of quality products at the LOWEST PRICES…Because the AlignUrLife Team has built special relationships with manufacturers and retailers that enables them to bring their customers (YOU) high quality products at low discount prices month after month! &amp;#160;So go ahead and enhance your life with a little something from AlignUrLife!&lt;/div&gt;&lt;div&gt;&amp;#160;&lt;/div&gt;&lt;div&gt;&lt;a href="http://www.alignurlife.com/" target="_blank"&gt;Website&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;</vendor_description><sold_out>false</sold_out><quantity_sold>0</quantity_sold><price>249Rs</price><value>1,660.00Rs</value><discount_amount>1411Rs</discount_amount><discount_percent>15.00</discount_percent><conditions><limited_quantity>true</limited_quantity><initial_quantity>0</initial_quantity><quantity_remaining>905</quantity_remaining><minimum_purchase>1</minimum_purchase><maximum_purchase>0</maximum_purchase><details><string>NOTE: This is an online merchant; see&amp;#160;Redemption Process&amp;#160;below on how to receive your product- Valid online only- One voucher per transaction- Allow 2-4 weeks for shipping from time of purchase from merchant’s site- Not valid for cash back (unless required by law)- Not valid for tax or gratuity- May not be combined with other offers, discounts or promotions- No substitutions unless otherwise noted&amp;#160;- Purchase any quantity- Promotional value expires six months from purchase&amp;#160;Redemption Process:1- Print off CityDeals voucher2- Visit&amp;#160;Website3- Type the voucher code into the coupon code box during checkout and click apply</string><string>Valid online only</string><string>One voucher per transaction</string><string>Allow 2-4 weeks for shipping from time of purchase from merchant’s site</string><string>Not valid for cash back (unless required by law)</string><string>Not valid for tax or gratuity</string><string>May not be combined with other offers, discounts or promotions</string><string>No substitutions unless otherwise noted </string><string>Purchase any quantity</string></details></conditions></ResponseDeal>')
--INSERT [dbo].[LK_Offers] ([Offer_ID], [SearchTags], [OfferType], [Country], [Offer_Details]) VALUES (2, N'traveldeals,tourpackage', N'External', N'INDIA', N'<ResponseDeal><id>1001</id><deal_url>http://www.ebay.in/itm/The-perfect-package-for-those-who-want-to-discover-the-world-8D-7N-for-4-person-/181227904828</deal_url><title>The perfect package for those who want to discover the world 8D/7N for 4 person</title><sku>51141</sku><small_image_url /><medium_image_url /><large_image_url /><shipping_method>print</shipping_method><vendor_name>escalationstravelware</vendor_name><vendor_listing_url>http://myworld.ebay.in/escalationstravelware/?_trksid=p4340.l2559</vendor_listing_url><vendor_website_url /><vendor_logo>http://i.ebayimg.com/00/s/NDAwWDU1MA==/z/nL0AAOxy1JBSRvWD/$T2eC16ZHJF8FFp1RIyu8BSRvWDZqJ!~~60_12.JPG</vendor_logo><vendor_description>&lt;div&gt;&lt;div&gt;The perfect package for those who want to discover the world – this gives you access to more than 2,000 resorts around the globe. &amp;#160;Spend your one week vacation somewhere familiar like Phuket or Bali, or be adventurous and head to Malta or Costa Rica!. &amp;#160;Using the complimentary dropper, just add a few drops of any incense oil or fragrance perfume (NOT INCLUDED) in the small holes at the top and wallah, a nice fresh scented car.&lt;/div&gt;&lt;div&gt;&amp;#160;&lt;/div&gt;&lt;div&gt;AlignUrLife is an Online Retail Company based in San Diego, California. &amp;#160;They specialize in bringing online customers a variety of quality products at the LOWEST PRICES…Because the AlignUrLife Team has built special relationships with manufacturers and retailers that enables them to bring their customers (YOU) high quality products at low discount prices month after month! &amp;#160;So go ahead and enhance your life with a little something from AlignUrLife!&lt;/div&gt;&lt;div&gt;&amp;#160;&lt;/div&gt;&lt;div&gt;&lt;a href="http://www.alignurlife.com/" target="_blank"&gt;Website&lt;/a&gt;&lt;/div&gt;&lt;/div&gt;</vendor_description><sold_out>false</sold_out><quantity_sold>0</quantity_sold><price>8000Rs</price><value> 48000.00Rs</value><discount_amount>40000Rs</discount_amount><discount_percent>16.6</discount_percent><conditions><limited_quantity>true</limited_quantity><initial_quantity>0</initial_quantity><quantity_remaining>905</quantity_remaining><minimum_purchase>1</minimum_purchase><maximum_purchase>0</maximum_purchase><details><string>NOTE: This is an online merchant; see&amp;#160;Redemption Process&amp;#160;below on how to receive your product- Valid online only- One voucher per transaction- Allow 2-4 weeks for shipping from time of purchase from merchant’s site- Not valid for cash back (unless required by law)- Not valid for tax or gratuity- May not be combined with other offers, discounts or promotions- No substitutions unless otherwise noted&amp;#160;- Purchase any quantity- Promotional value expires six months from purchase&amp;#160;Redemption Process:1- Print off CityDeals voucher2- Visit&amp;#160;Website3- Type the voucher code into the coupon code box during checkout and click apply</string><string>Valid online only</string><string>One voucher per transaction</string><string>Allow 2-4 weeks for shipping from time of purchase from merchant’s site</string><string>Not valid for cash back (unless required by law)</string><string>Not valid for tax or gratuity</string><string>May not be combined with other offers, discounts or promotions</string><string>No substitutions unless otherwise noted </string><string>Purchase any quantity</string></details></conditions></ResponseDeal>')

--SET IDENTITY_INSERT [dbo].[LK_Offers] OFF

INSERT [dbo].[TelecomCustomerAccountData] ([CustID], [AcctNo], [BillingDate], [BillType], [BillDescription], [Duration], [Volume], [Pulse], [Charges], [Discount], [NetCharges]) VALUES (16306, 700516163, CAST(0x00009F4B00000000 AS DateTime), N'Call Charge', N'voice calls - Local', N'243:34 (mm:ss)', 76, CAST(206.00 AS Decimal(18, 2)), CAST(141.20 AS Decimal(18, 2)), CAST(141.20 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[TelecomCustomerAccountData] ([CustID], [AcctNo], [BillingDate], [BillType], [BillDescription], [Duration], [Volume], [Pulse], [Charges], [Discount], [NetCharges]) VALUES (16306, 700516163, CAST(0x00009F4B00000000 AS DateTime), N'Call Charge', N'voice calls - STD', N'443:48 (mm:ss)', 66, CAST(180.00 AS Decimal(18, 2)), CAST(620.00 AS Decimal(18, 2)), CAST(200.00 AS Decimal(18, 2)), CAST(420.00 AS Decimal(18, 2)))
INSERT [dbo].[TelecomCustomerAccountData] ([CustID], [AcctNo], [BillingDate], [BillType], [BillDescription], [Duration], [Volume], [Pulse], [Charges], [Discount], [NetCharges]) VALUES (16306, 700516163, CAST(0x00009F4B00000000 AS DateTime), N'Call Charge', N'voice calls - ISD', N'43:19 (mm:ss)', 4, CAST(10.00 AS Decimal(18, 2)), CAST(350.40 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(350.40 AS Decimal(18, 2)))

use BankApplicationDemo
IF EXISTS (SELECT * FROM sys.server_principals WHERE name = N'iaap_user')
BEGIN
ALTER LOGIN iaap_user WITH PASSWORD = 'Infosys@123'
,DEFAULT_DATABASE = BankApplicationDemo
END
ELSE
BEGIN
CREATE LOGIN iaap_user WITH PASSWORD = 'Infosys@123'
,DEFAULT_DATABASE = BankApplicationDemo
END

GO
 
use BankApplicationDemo
IF  NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'iaap_user')
BEGIN
CREATE USER iaap_user FOR LOGIN iaap_user;
END
EXEC sp_addrolemember 'db_datareader', 'iaap_user'
EXEC sp_addrolemember 'db_datawriter', 'iaap_user'
EXEC sp_addrolemember 'db_owner', 'iaap_user'
EXEC master..sp_addsrvrolemember @loginame = N'iaap_user', @rolename = N'sysadmin'
PRINT 'iaap_user created'
GO


    
  
    